Flask

# Command to create requirments.txt for Python image in Dockerfile
# docker run --rm -v ${PWD}:/app python:3.13.5-slim-bookworm sh -c "pip install -r /app/requirements.in && pip freeze > /app/requirements.txt"